body {
    background-image: url('lion.jpg');
    min-height: 100%;
    background : linear-gradient(to right, rgba(0, 0, 0, .5), rgba(255, 255, 255, .5)), url('lion.jpg'); 
    background-size : cover;
    padding-left: 30px;
    color : white;
    font-family: Helvetica, sans-serif; font-size: 18px; line-height: 24px;
    
}

.logo_img {
    width : 70px;
    height : 70px;
}

.lion_icon {
    width : 60px;
    height : 60px;
    position: absolute;
    right: 30px;
    top :25px;
}

.me {
    position: absolute;
    right: 45px;
    top : 75px;
    color : black;
}


.logo {
    font-size : 20px;
}



/*메뉴*/

    
nav {

margin: 10px auto; 

text-align: center;
opacity: 0.75;

}

    
    




nav ul ul {

display: none;

}



nav ul li:hover > ul {

display: block;

}



nav ul {

background: #efefef; 

box-shadow: 0px 0px 9px rgba(0,0,0,0.35);

padding: 0 30px;

list-style: none;

position: relative;

display: inline-table;

}

nav ul:after {

content: ""; clear: both; display: block;

}



nav ul li {

float: left;



}

nav ul li:hover {

background: #4b545f;


}

nav ul li:hover a {

color: #fff;

}


nav ul li a {

display: block; padding: 25px 40px;

color: #757575; text-decoration: none;



}

<!--  -->

nav ul ul {

background: #5f6975; border-radius: 0px; padding: 0;

position: absolute; top:100%;

}

nav ul ul li {

float: none; 


}

nav ul ul li a {

color: #fff;

}

nav ul ul li a:hover {

background: #000;

}

nav ul ul ul {

position: absolute; left: 100%; top:0;

}

/*메뉴 끝*/

.mini_background{
    height:700px;
    width:1500px;
    background-color: rgba( 0, 0, 0, 0.5 );
    margin : 0 auto;
}

footer {
    color : white;
    text-align: center;

}




.member {
    position: relative; 
    z-index: 1;
    
  }
  
.calendar_menu { 
    position: relative; 
    z-index: 2;
  }


  /* =============================폰트== */

  @font-face { font-family: 'TmonMonsori'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { 
    font-family: 'NanumBarunGothic'; 
    font-style: normal; 
    font-weight: 400; 
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); 
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') 
    format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') 
    format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') 
    format('truetype'); 
} 

@font-face { 
    font-family: 'NanumBarunGothic'; 
    font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype') } 
    
@font-face { 
    font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 300; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype'); } 
    

.nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }
