{% load static %}
{% load staticfiles %}
<html>

<head>
    <title>멋쟁이사자처럼X충북대학교 흔적</title>

    <link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    <style type="text/css">
        body {
            color: white;
        }

        .post {
            font-family: 'Sarabun', 'NanumBarunGothic', sans-serif;
        }
    </style>
    <link href="cssfile.css" media="screen and (min-width: 512px) and (max-width: 1024px)" rel="stylesheet">
    <!--화면 조정-->
    <style type="text/css" media="screen and (min-width: 512px) and (max-width:1024px)">
        @import url(cssfile.css) screen and (min-width: 152px) and (max-width: 1024px);
    </style>
        


</head>

<body class="container-fluid">

    <header style="height: 60px;">

        <a href="{% url 'main' %}">
        <h1 class="logo" style="color:white;font-size:28px;padding-left: 30px;padding-top:20px"><a href="{% url 'main' %}"><img class="logo_img"
            src="{% static 'logo6.png' %}"></a> 충북대학교 x 멋쟁이사자처럼</h1>
        
        <img class="lion_icon" src="{% static 'lion_icon.png' %}" style="margin-right: 45px;margin-top:20px">
        <div class="dropdown" style="float:right;">
            <button class="btn dropdown-toggle" style="margin-right: 45px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <p class="dropdown-item">{{user.email}}</p>
            <p class="dropdown-item">{{user.last_name}}{{user.first_name}}</p>
            <a class="dropdown-item" href="{% url 'logout'%}">logout</a>
            </div>
        </div>
    </header>

       <br>
       <br>
       <br>
       <hr>

        {% comment %} 로그인/ 비로그인 시 뜨는 거 다르게 만든 것 수정중!
        {% if user.is_authenticated %} <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
        {% else %}
        <p>Welcome, new user. Please log in.</p>
        {% endif %} {% endcomment %}

        {% comment %} 메뉴============================ {% endcomment %}
        <div class="post" style="font-size:20px;">
            <nav class="calendar_menu">

                <ul>
                    <li><a href="{% url 'main' %}">Main</a></li>

                    <li><a href="{% url 'introduce' %}">Introduce</a></li>

                    <li><a href="#">Calendar</a>

                        <ul>

                            <li><a href="{% url 'schedule_all' %}">All</a></li>


                            <li><a href="{% url 'schedule_this' %}">This Month</a></li>


                    </li>

                </ul>

                </li>

                <li><a href="#">Board</a>

                    <ul>

                        <li><a href="{% url 'board' 4%}">공지</a></li>

                        <li><a href="{% url 'board' 5%}">자유</a></li>

                        <li><a href="{% url 'board' 6%}">과제</a></li>

                    </ul>

                </li>

                <li><a href="{% url 'member'%}">Member</a></li>

                </ul>

            </nav>
        </div>
        {% comment %} ============================== {% endcomment %}


        {% block content%}
        {% endblock %}

        <br>
        <br>
        <br>
</body>

<footer>
        <br>
        <br>
        made by 최세화 / 신은지 / 박태미<br>in 멋쟁이 사자처럼 at 충북대학교 <br>
        <small>start 2019/02/24</small>

        <br>
        <br>
    </footer>

</html>