{% extends 'record/base.html' %}
{% block content %}
<div class="post">
<h1 class="logo" style="font-size : 40px; color:white;">메인페이지</h1>
<div>
{% comment %} {% for category in category_all %}
    <h3><a href="{% url 'board' category.id %}">{{ category.name }}</h3> {% endcomment %}
    <table class="table" style="color:white">
        <thead>
            <tr>
                <th>category</th>
                <th>title</th>
                <th>writer</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.category }}</td>
                <td><a href="{% url 'post_detail' post.id %}">{{ post.title }} [{{post.comment_set.count}}]</a></td>
                <td>{{ post.name_id}}</td>
                {% comment %} 유저이름 추가하기 {% endcomment %}
                <td>{{ post.created_at }}</td>
            </tr>
        {% empty %}
        <p>게시판이 비었습니다.</p>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% comment %} {% endfor %} {% endcomment %}

</div>
</div>

{% endblock %}

{% comment %} 1. 나타나는 게시글 수 제한 (멋사강의 참고)
2. 각 게시판으로 넘어가는 기능 추가
3. nav추가
4. user 정보 조회기능 추가 {% endcomment %}