<html>
{% block content %}
<div>
    
    <h3>{{ post.title }}</h3>
    <p>{{ post.text }}</p>
    <p>Created date : {{ post.created_at }}</p>
    <p>Updated date : {{ post.updated_at }}</p>
    <p>Category : {{ post.category }}</p>
</div>

<a href="{% url 'main' %}">Back</a>
<a href="{% url 'post_edit' post.id %}">Edit</a>
<a href="{% url 'post_delete' post.id %}" onclick="return confirm('정말로 삭제하시겠습니까?');">Delete</a>

<hr>

{% for comment in post.comment_set.all%}
    <div>
        <p>
            {{comment.text}}
        </p>
         <a href="{% url 'comment_delete' post.id comment.id  %}">Delete</a>
    </div>
{% empty %}
    <p>Comment here</p>
{% endfor %}

<form action='{% url 'comment_new' post.id %}' method = 'post'>
    {% csrf_token %}
    <table margin = >
        {{ form.as_table }}
    </table>
    <input type='submit' value='Save'>
</form>

{% endblock %}
</html>