{% extends 'record/base.html' %}
{% block content %}
<div>
    
    <h3>{{ post.title }}</h3>
    <p>{{ post.text }}</p>
    <p>Created date : {{ post.created_at }}</p>
    <p>Updated date : {{ post.updated_at }}</p>
    <p>Category : {{ post.category }}</p>
    {% comment %} <P><img src = "{{post.file.url}}" alt=""></P> {% endcomment %}
    <p>File : <a id="id_uploaded_file" href="{{ post.file.url }}" download>{{ post.file }}</a></p>
</div>

<a href="{% url 'main' %}">Back</a>
<a href="{% url 'post_edit' post.id %}">Edit</a>
<a href="{% url 'post_delete' post.id %}" onclick="return confirm('정말로 삭제하시겠습니까?');">Delete</a>

<hr>

<form action='{% url 'comment_new' post.id %}' method = 'post'>
    {% csrf_token %}
    <table margin = >
        {{ form.as_table }}
    </table>
    <input type='submit' value='Save'>
</form>

<p>댓글</p>
{% for comment in post.comment_set.all%}
    <div>
        <p>
            {{comment.text}}
        </p>
         <a href="{% url 'comment_delete' post.id comment.id  %}">Delete</a>
    </div>
    {% for recomment in comment.recomment_set.all%}
        <div>
            <p>
                ㄴ{{recomment.text}}
            </p>
            <a href="{% url 'recomment_delete' post.id comment.id recomment.id %}">Delete</a>
        </div>
    {% endfor %}
    
    
    <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        대댓글 작성
    </button>
    </p>
    <div class="collapse">
        <div class="card card-body">
                {% comment %} <p>
                    대댓글작성
                </p> {% endcomment %}
            <form action='{% url 'recomment_new' post.id comment.id %}' method = 'post'>
                {% csrf_token %}
                <table margin = >
                    {{ form.as_table }}
                </table>
                <input type='submit' value='Save'>
            </form>
        </div>
    </div>



{% empty %}
    <p>Comment here</p>
{% endfor %}




{% endblock %}